@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kalnia', serif;
    font-weight: 300;
}
body {
    background-color: #ebe9e9;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
header {
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
header nav {
    margin-top: 7px;
}
header a {
    padding-right: 30px;
    text-transform: capitalize;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    font-size: 17px;
}
header a:hover {
    color: indianred;
}
header img {
    width: 200px;
}
hr {
    font-weight: 300;
    margin-bottom: 30px;
}

/* Home */

.home {
    background-image: url(../img/home.png);
    height: 698px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.home h1 {
    width: 800px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}
.home .button {
    display: inline-block;
    border: 1px solid #fff;
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    margin-top: 10px;
}
.deliver {
    margin: 20px auto 20px auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.deliver img {
    height: 45px;
}
.deliver #img {
    display: flex;
    margin-top: 10px;
    height: 30px;
}
.deliver span {
    margin-top: 10px;
    margin-left: -10px;
    display: flex;
    width: 70px;
    padding-bottom: 20px;
    text-align: center;
}
.deliver #span {
    margin-left: -23px;
}
.catalog {
    background-image: url(../img/catalog.png);
    background-size: cover;
    height: 320px;
    margin-top: 75px;
    margin-bottom: 70px;
}


/* Furniture */

.furniture > div {
    display: flex;
    padding: 30px;
    justify-content: center;
}
.furniture img {
    width: 800px;
}
.furniture .text-block {
    padding: 50px;
    text-align:start;
    width: 500px;
}
.furniture h2 {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px;
}
#text-right {
    text-align: right;
}
.furniture span {
    display: inline-block;
    font-style: italic;
}
.furniture p {
    margin-top: 20px;
}
.furniture button {
    padding: 10px;
    font-size: 23px;
    color: indianred;
    background-color: transparent;
    border: 1px solid indianred;
    border-radius: 10%;
    margin-top: 20px;
}

/* Last section */

.last-section {
    padding-top: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.last-section img {
    width: 365px;
    padding-top: 50px;
    padding-left: 10px;
}
.tb h1 {
    padding-bottom: 10px;
    font-weight: 500;
}
.last-section hr {
    margin-left: 10px;
    margin-top: 30px;
}
.last-section .italic {
    font-style: italic;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.last-section span {
    display: inline-block;
    margin: 40px auto;
    width: 100%;
}
.lists {
    display: flex;
}
.lists div {
    height: 350px;
    width: 295px;
    margin: 0;
    padding: 0;
}
.lists h3 {
    padding-left: 13px;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto 20px auto;
}
.lists p {
    padding-left: 15px;
}
.lists img {
    width: 94px;
}
.list1 , .list3 {
    background-color: #fff;
    margin-right: 10px;
}
.list3 > p {
    background-color: #fff;
    margin-right: 20px;
}
.list1 p {
    background-color: #fff;
    margin-right: 10px;
}
.last-section .text {
    display: inline-block;
    margin-bottom: 20px;
}
#img-l {
    width: 100%;
    margin-bottom: 50px;
}
footer {
    width: 100%;
    padding: 30px;
    background-color: #bababa;
}
footer nav {
    display: flex;
    text-align: center;
    margin: 0 auto;
    width: 800px;
    justify-content: space-between;
}
footer h3 {
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
footer ul {
    list-style: none;
    margin-bottom: 40px;
}
footer li {
    padding-bottom: 10px;
    text-transform: capitalize;
    font-size: 14px;
}
footer img {
    margin: 0 auto;
    display: flex;
}
@media screen and (max-width: 500px) {
    footer img {
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        max-width: 750px;
    }
    header {
        max-width: 750px;
    }
    .furniture img {
        margin-top: 40px;
        width: 50%;   
        height: 350px;
    }
    .furniture .text-block {
        margin-top: 30px;
        padding: 15px;
        text-align:start;
        width: 400px;
        height: 300px;
    }
    .furniture p {
        margin-top: 5px;
        font-size: 12px;
    }
    .furniture span {
        font-size: 13px;
        margin-left: -380px;
    }
    .furniture h2 {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 7px;
    }
    .furniture button {
        padding: 7px;
        font-size: 15px;
        color: indianred;
        background-color: transparent;
        border: 1px solid indianred;
        border-radius: 10%;
        margin-top: 20px;
    }
    .last-section img {
        width: 140px;
    }
    .last-section hr {
        width: 740px;
        margin-left: 10px;
    }
    .italic, span {
        font-size: 13px;
        display: inline-block;
        width: 100%;
    }
    .last-section span {
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .lists {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 5px;
    }
    .lists div {
        margin: 0;
    }
    .lists img {
        width: 30%;
        margin-top: 20px;
    }
    .lists p, h3 {
        font-size: 13px;
    }
    .last-section #img-l {
        margin-top: -50px;
        margin-bottom: 15px;
    }
    footer nav {
       width: 80%;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 250px;
    }
    header {
        max-width: 320px;
        height: 30px;
        flex-wrap: wrap;
    }
    header a {
        font-size: 11px;
        margin-left: 10px;
        margin-right: -30px;
    }
    header img {
        width: 150px;
        height: 25px;
        margin: -15px auto -3px auto;
    }


    .home h1 {
        font-size: 13px;
        margin-right: 50%;
        text-align: center;
        width: 200px;
        margin: 0 auto;
        margin-top: -550px;
    }
    .home {
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -20px;
        margin-bottom: -200px;
        height: 150px;
    }
    .home .button {
        font-size: 5px;
        padding: 3px;
    }


    .deliver {
        margin: 215px auto 10px 10px;
        height: 10px;
        display: flex;
        justify-content: space-between;
    }
    .deliver img {
        height: 20px;
    }
    .deliver #img {
        display: flex;
        margin-top: 5px;
        height: 13px;
    }
    .deliver span {
        margin-top: 10px;
        margin-left: -24px;
        margin-right: 20px;
        display: flex;
        width: 70px;
        text-align: center;
        font-size: 11px;
    }
    .deliver #span {
        margin-left: -23px;
    }
    .catalog {
        background-image: url(../img/catalog.png);
        background-size: cover;
        height: 70px;
        margin-top: 75px;
        margin-bottom: 10px;
    }

    .furniture > div {
        height: 200px;
    }
    .furniture img {
        margin-top: 40px;
        width: 50%;   
        height: 50%;
        margin-right: 15px;
    }
    .img-size {
        margin-left: 50px;
    }
    .furniture .text-block {
        margin-top: -20px;
        padding-left: 10px;
        text-align:start;
        width: 150px;
        margin-left: -20px;
        margin-right: -55px;
    }
    .furniture p {
        margin-top: 5px;
        font-size: 10px;
    }
    .furniture h2 {
        font-size: 15px;
        font-weight: 700;
        padding-bottom: 7px;
    }
    .furniture button {
        padding: 3px;
        font-size: 10px;
        color: indianred;
        background-color: transparent;
        border: 1px solid indianred;
        border-radius: 10%;
        margin-top: 10px;
    }


    
    .last-section hr {
        width: 240px;
        margin-left: 10px;
    }
    .italic, .sp-1 {
        font-size: 13px;
        display: inline-block;
        width:  250px;
    }
    .img img {
        width: 80px;
        margin-top: -60px;
    }


    .lists div {
        width: 100%;
        margin-bottom: 30px;
        margin: 0px auto 30px auto;
        height: 200px;
    }
    .lists img {
        width: 30%;
        margin-top: -40px;
        margin-bottom: -20px;
    }
    .lists p {
        font-size: 10px;
        margin-right: 5px;
    }
    .lists h3 {
        font-size: 15px;
        margin-right: 5px;
    }
    .tb {
       margin-left: -200px;
    }
    .last-section .text {
        width: 200px;
        margin-top: -30px;
    }
    .last-section .italic {
        width: 200px;
    }
    .last-section #img-l {
        margin-top: -50px;
        margin-bottom: 15px;
    }
    footer nav {
       width: 80%;
       margin-left: -20px;
    }
    footer ul {
        margin-right: 30px;
    }
    footer img {
        width: 100%;
        margin-left: -30px;
    }
    footer li {
        font-size: 12px;
    } 
    footer h3 {
        font-size: 15px;
    }
}